name: Cypress Tests

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main
      - gh-pages

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Set environment variables
        run: echo "VITE_PROD=false" >> $GITHUB_ENV

      - name: Build project
        run: npm run build

      - name: Start dev server
        run: npm run dev &

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          wait-on: "http://localhost:5173/react-trial/#/"